# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Dependencies & Build Output
/node_modules/
/vendor/
/dist/
/build/
*.zip

# Logs
*.log
debug.log
.agents/
assets/icons/gebaeude-check_old.svg
legacy/
docs/
